html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  background: url('/static/images/MainPage2.jpg') no-repeat center center fixed;
  background-position: 0px 45px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  font-family: 'Ubuntu', sans-serif;
}

.page-title {
	font-size:700%;
}

.page-subtitle {
	font-size:250%;
}

.cursive-font {
	font-family: 'Lobster', cursive;
}

/* CSS for the three link icons on the homepage */
.link-icons {
	color: #809aa2;
}

.icon-active-highlight a:hover {
  color: #000000;
}

.icon-active-highlight a:active {
  color: #000000;
}
/* End of icon CSS */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -250px;
}

#page-content {
	background-color: #ffffff;
	height: 210px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
}

#page-content p {
	color: #000000;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 40px;
}

#footer {
  background-color: #809aa2;
}

/* Font Color and font padding for the footer */
#footer p {
  padding-top: 10px; 
  color: #ffffff;
}

#footer p a:visited {
  color: #000000;
}

#footer p a:hover {
  color: #000000;
}

#footer p a:link {
  color: #000000;
}

#footer p a:active {
  color: #000000;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.text-container {
  padding-top: 0px;
  padding-bottom: 1px;
}

.name-title {
  color:#343433; 
  font-weight:200; 
  font-size:150%; 
}

.nav-bar-menu a {
  font-size: 125%
}

.drop-down-items a {
  font-size: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* NavBar css */

.navbar-default {
  background-color: #ffffff;
  border-color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
.navbar-default .navbar-brand {
  color: #809aa2;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #809aa2;
}
.navbar-default .navbar-nav > li > a {
  color: #809aa2;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #809aa2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #809aa2;
}
.navbar-default .navbar-link {
  color: #809aa2;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #809aa2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}

/* End of NavBar css */

.block {
	background-color:rgba(0,0,0,0.2);
    height:370px;
    padding-left:12px;
    padding-right:12px;
}

.block-sm {
    height:180px;
}

.btn-flat {
	border-radius:0px;
    border-width:0;
    background-image:none;
    padding:16px;
    margin:0 auto;
    margin-top:15px;
    width:70%;
    font-size:20pt;
}