.text-container {
	padding-top: 35px;
	padding-bottom: 40px;
}

.nav-bar-menu a {
	font-size: 150%
}

.drop-down-items a {
	font-size: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

.circular {
	max-width: 100px;
	max-height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(images/ImageOne.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.my-img-responsive {
	display: block;
	height: auto;
	/*max-width: 100%;*/
	width: 100%;
}

body { 
	padding-top: 70px; 
}