<!DOCTYPE html>
<html>

<head>
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="/static/MainPage.css"/>
	  <!-- <style type="text/css"> h1 {color: red;}</style> -->
</head>

<body>

	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/"><img class = "circular" src="static/images/ImageTwo.jpg" alt="Back to Main Page" /></a>

			<div class="navbar-collapse collapse navbar-responsive-collapse"> 
				<ul class="nav navbar-nav">
					<li class="active">
						<a>Gautam Kanumuru</a>
					</li>

					<li>
						<a href="about">About Me</a>
					</li>

					<li>
						<a href="projects">Projects </a>
					</li>

					<li>
						<a href="pubs">Publications</a>
					</li>

					<li>
						<a href="contact">Contact</a>
					</li>


				</ul>

			</div>
		</div>
	</div> <!-- End the Nav Bar -->

	<script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
	<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>
</body>


</html>