<!DOCTYPE html>
<html>

<head>
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="/static/MainPage.css"/>
	  <!-- <style type="text/css"> h1 {color: red;}</style> -->
</head>

<body>


	<script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
	<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>
</body>


</html>

	<header id="header">
		<div class="pageContainer clearfix">
	            <h1><a href="http://avexdesigns.com/" title="" rel="home" id="logo" class="ir">Avex Designs - Web Design New York</a></h1>
	            <nav id="nav" role="navigation">
	            	<div class="menu-header"><ul id="menu-main-nav" class="menu">
	            		<li id="menu-item-796" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-796"><a href="http://avexdesigns.com/request-a-quote/" >Contact</a></li>
<li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-9"><a href="http://avexdesigns.com/blog/" >Blog</a></li>
<li id="menu-item-1036" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1036"><a href="/#clients">Clients</a></li>
<li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a href="/#about">About</a></li>
<li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-11"><a href="http://avexdesigns.com/#mywork" >Portfolio</a></li>
<li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="http://avexdesigns.com/" >Home</a></li>
</ul></div>							
	    		</nav>
		</div>
		
</header>