<!DOCTYPE html>
<html>

<head>
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="/static/MainPage.css"/>
	  <!-- <style type="text/css"> h1 {color: red;}</style> -->
</head>

<body>
	<div class="nav-bar">
		<div class="container">
			<ul class="pull-left">
				<li><a href="#">Gautam Logo</a></li>
				<li><b><u> Gautam Kanumuru </u></b></li>
			</ul>
			<ul class="pull-right">
				<li><a href="#">About Me/a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Publications</a></li>
				<li><a href="#">Contact Me</a></li>
			</ul>
		</div>
	</div>
</body>


</html>