<!DOCTYPE html>
<html>

<head>
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="/static/MainPage.css"/>
	  <!-- <style type="text/css"> h1 {color: red;}</style> -->
</head>

<body>

	<div class="navbar navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/"><img src="static/images/ImageTwo.jpg" alt="Go Home" /></a>
		</div>
	</div> <!-- End the Nav Bar -->

	<script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
	<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>
</body>


</html>