<!DOCTYPE html>

<html lang="en">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu|Lobster|Playfair+Display+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/Projects.css"/>

    <title> Gautam's Website </title>

    <link rel="shortcut icon" href="static/images/favicon.ico">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Code for the Header  ***Do Not Touch*** -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand name-title" href="/" color="#FFFFFF"> <b> Gautam Kanumuru <i class="fa fa-child fa-lg"></i> </b>
                </a>
            </div>

            <div class="text-container">
                <div class="navbar-collapse collapse navbar-responsive-collapse nav-bar-menu"> 

                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Me<b class="caret"></b></a>
                            <ul class="dropdown-menu drop-down-items">
                                <li><a href="http://github.com/vrk7bp">GitHub</a></li>
                                <li><a href="http://www.linkedin.com/pub/gautam-kanumuru/61/931/7a3">LinkedIn</a></li>
                                <li><a href="resume" target="_newtab">Resume</a></li>
                                <li class="divider"></li>
                                <li><a href="aboutme">About Gautam</a></li>
                                <li class="divider"></li>
                                <li><a href="aboutsite">About This Website</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="projects">Projects </a>
                        </li>

                        <li>
                            <a href="pubs">Publications</a>
                        </li>

                        <li>
                            <a href="mailto:gautamkwebsite@gmail.com?Subject=Website%20Hello"> Contact </a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div> 
    <!-- End the Header Bar -->

    <!-- This is the content, which can be changed. Section 1... The text on image -->
    <div class="container">
      <br><br><br><br><br>
        <div class="row-fluid page-title cursive-font">
          <p class="text-center"><strong>Projects</strong></p>
        </div>  
    </div>
    <div class="container">
        <div class="row-fluid page-subtitle cursive-font">
            <p class="text-center"><strong> What I'm working on in my free time </strong></p>
        </div>
    </div>
    <!-- End Section 1... The text on image -->

    <br><br>   


    <!-- This is the content, which can be changed. Section 2... The text that makes up the content -->
    <div id="page-content">
        <div class="container"> 
            <br>
            <p class="text-center fancy-font">
                <strong>
                    "Choose a job you love, and you will never have to work a day in your life."
                </strong>
            </p>
            <p class="text-center fancy-font">
                <strong>
                    - Confucius
                </strong>
            </p>

            <br>

            <p> 
                I learned pretty early that the best way I learn is by doing, plain and simple. There is only so much I can learn from reading tutorials or sitting in the classroom; at some point I have to dive in and face things head on. This thought process has been the foundation for all of these projects. All of these projects were inspired by different instances, some as class projects, some while sitting with friends at Hackathons, and most just sitting by myself wondering what I'm doing with my life. Either way, I've ending up learning a lot from each one of these projects and have become a better programmer because of them. Check out <a href="http://github.com/vrk7bp"> my GitHub </a> to see my code or keep track of what I'm working on lately.
            </p> 
            <br>
            <div class="row-fluid">
                <div class="offsetHalf block" id="block-content">
                  <div class="text-center">
                    <h1>Geography Toy for Elementary Aged Students</h1>
                    <h3> Fall 2011 [Introduction to Engineering Class] </h3>
                    During my internship with NASA in the summer of 2013, I worked in the Commercial Spaceflight Development Division. My main task during the summer was to research past partnerships that NASA had with private space companies in order to better quantify what factors differentiated successful partnerships from failures. My research for this assignment focused on reading through a number of GAO reports and going through more than a dozen interviews with the heads of the Human Exploration and Operations Directorate within NASA. This research culminated in this research paper, which was circulated through NASA (all the way to the NASA Administrator's office) and published in the Virginia Engineering and Science Research Journal.
                    <br>
                    <a href="nasa"> <button class="btn btn-primary btn-flat">GitHub Repository<i class="pull-right icon-chevron-right icon-large"></i></button> </a>
                    <p></p>
                    <p></p>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Section 2... The text on image  **No more changeable content** -->

    <!-- Code for the Footer ***Do Not Touch*** -->
    <div id="footer">
      <div class="container">
        <p class="text-center text-mute"> 
            <strong> 
                Website's code found in <a href="http://www.github.com/vrk7bp/gautamwebsite"> my GitHub Repository</a>.
            </strong> 

        </p>
      </div>
    </div>
    <!-- End the Footer -->


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- CDN for Bootstrap JavaScript-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </body>
</html>